[package]
name = "egui-notify"
version = "0.4.1"
edition = "2021"
license = "MIT"
repository = "https://github.com/ItsEthra/egui-notify"
description = "Simple notifications library for EGUI"
authors = ["ItsEthra"]
readme = "../README.md"

[lib]
path = "src/lib.rs"

[dependencies]
egui = "0.19"
